# TASK 1

Link to the data file: Record Matching Data File

Description
There are 2 datasets present in the file. Data 1 and Data 2
The primary key for both data1 and data2 is Order Id + Product ID combination (i.e. the individual datasets do not have any duplicate on this combination)

Provide solution and approach for the following:
How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2 (Specify the number of records missing in your answer)
How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2 (Specify the number of records missing in your answer)
Find the Sum of the total Qty of Records missing in data1 but present in data2
Find the total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2

Allowed Tools: Excel, R, Python, SQL

In [1]:
import pandas as pd
import numpy as np

In [2]:
d1_rg=pd.read_csv('data1.csv')
d1_rg

            Order ID       Product ID  Qty
0     CA-2014-100090  FUR-TA-10003715    3
1     CA-2014-100090  OFF-BI-10001597    6
2     CA-2014-100293  OFF-PA-10000176    6
3     CA-2014-100328  OFF-BI-10000343    1
4     CA-2014-100363  OFF-FA-10000611    2
...              ...              ...  ...
9472  US-2017-169551  OFF-PA-10004100    3
9473  US-2017-169551  OFF-ST-10004835    3
9474  US-2017-169551  TEC-AC-10002018    3
9475  US-2017-169551  TEC-AC-10003033    2
9476  US-2017-169551  TEC-PH-10001363    2

[9477 rows x 3 columns]

In [3]:
d1_rg.size

28431

In [4]:
d1_rg.shape

(9477, 3)

In [5]:
d1_rg['Data1_Primary_key']=d1_rg['Order ID']+d1_rg['Product ID']
d1_rg

            Order ID       Product ID  Qty              Data1_Primary_key
0     CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090FUR-TA-10003715
1     CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090OFF-BI-10001597
2     CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293OFF-PA-10000176
3     CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328OFF-BI-10000343
4     CA-2014-100363  OFF-FA-10000611    2  CA-2014-100363OFF-FA-10000611
...              ...              ...  ...                            ...
9472  US-2017-169551  OFF-PA-10004100    3  US-2017-169551OFF-PA-10004100
9473  US-2017-169551  OFF-ST-10004835    3  US-2017-169551OFF-ST-10004835
9474  US-2017-169551  TEC-AC-10002018    3  US-2017-169551TEC-AC-10002018
9475  US-2017-169551  TEC-AC-10003033    2  US-2017-169551TEC-AC-10003033
9476  US-2017-169551  TEC-PH-10001363    2  US-2017-169551TEC-PH-10001363

[9477 rows x 4 columns]

In [6]:
d1_rg.size

37908

In [7]:
d1_rg.shape

(9477, 4)

In [8]:
d2_rg=pd.read_csv('data2.csv')
d2_rg

            Order ID       Product ID  Qty
0     CA-2014-100090  FUR-TA-10003715    3
1     CA-2014-100090  OFF-BI-10001597    6
2     CA-2014-100293  OFF-PA-10000176    6
3     CA-2014-100328  OFF-BI-10000343    1
4     CA-2014-100363  OFF-FA-10000611    2
...              ...              ...  ...
9474  US-2017-169551  OFF-PA-10004100    3
9475  US-2017-169551  OFF-ST-10004835    3
9476  US-2017-169551  TEC-AC-10002018    3
9477  US-2017-169551  TEC-AC-10003033    2
9478  US-2017-169551  TEC-PH-10001363    2

[9479 rows x 3 columns]

In [9]:
d2_rg.size

28437

In [10]:
d2_rg.shape

(9479, 3)

In [11]:
d2_rg['Data2_Primary_key']=d2_rg['Order ID']+d2_rg['Product ID']
d2_rg

            Order ID       Product ID  Qty              Data2_Primary_key
0     CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090FUR-TA-10003715
1     CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090OFF-BI-10001597
2     CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293OFF-PA-10000176
3     CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328OFF-BI-10000343
4     CA-2014-100363  OFF-FA-10000611    2  CA-2014-100363OFF-FA-10000611
...              ...              ...  ...                            ...
9474  US-2017-169551  OFF-PA-10004100    3  US-2017-169551OFF-PA-10004100
9475  US-2017-169551  OFF-ST-10004835    3  US-2017-169551OFF-ST-10004835
9476  US-2017-169551  TEC-AC-10002018    3  US-2017-169551TEC-AC-10002018
9477  US-2017-169551  TEC-AC-10003033    2  US-2017-169551TEC-AC-10003033
9478  US-2017-169551  TEC-PH-10001363    2  US-2017-169551TEC-PH-10001363

[9479 rows x 4 columns]

In [12]:
d2_rg.size

37916

In [13]:
d2_rg.shape

(9479, 4)

In [14]:
new_data_rg=d1_rg.merge(d2_rg, how='outer', left_on=['Data1_Primary_key'], right_on=['Data2_Primary_key'])
new_data_rg

,Order ID_x,Product ID_x,Qty_x,Data1_Primary_key,Order ID_y,Product ID_y,Qty_y,Data2_Primary_key
0,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715
1,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090OFF-BI-10001597,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090OFF-BI-10001597
2,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293OFF-PA-10000176,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293OFF-PA-10000176
3,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328OFF-BI-10000343,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328OFF-BI-10000343
4,CA-2014-100363,OFF-FA-10000611,2.0,CA-2014-100363OFF-FA-10000611,CA-2014-100363,OFF-FA-10000611,2.0,CA-2014-100363OFF-FA-10000611
...,...,...,...,...,...,...,...,...
9980,NaN,NaN,NaN,NaN,US-2017-165344,OFF-BI-10003196,10.0,US-2017-165344OFF-BI-10003196
9981,NaN,NaN,NaN,NaN,US-2017-165358,TEC-CO-10001943,5.0,US-2017-165358TEC-CO-10001943
9982,NaN,NaN,NaN,NaN,US-2017-167920,OFF-AP-10000159,5.0,US-2017-167920OFF-AP-10000159
9983,NaN,NaN,NaN,NaN,US-2017-169502,OFF-AP-10001947,5.0,US-2017-169502OFF-AP-10001947
9984,NaN,NaN,NaN,NaN,US-2017-169551,FUR-BO-10001519,3.0,US-2017-169551FUR-BO-10001519

In [15]:
new_data_rg.size

79880

In [16]:
new_data_rg.shape

(9985, 8)

# 1.
How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2 (Specify the number of records missing in your answer)

In [17]:
present_data1_missing_data2=new_data_rg[new_data_rg['Data2_Primary_key'].isna()]
present_data1_missing_data2

,Order ID_x,Product ID_x,Qty_x,Data1_Primary_key,Order ID_y,Product ID_y,Qty_y,Data2_Primary_key
9,CA-2014-100678,OFF-EN-10000056,3.0,CA-2014-100678OFF-EN-10000056,NaN,NaN,NaN,NaN
18,CA-2014-100895,OFF-AR-10004511,2.0,CA-2014-100895OFF-AR-10004511,NaN,NaN,NaN,NaN
34,CA-2014-101560,OFF-BI-10000309,3.0,CA-2014-101560OFF-BI-10000309,NaN,NaN,NaN,NaN
60,CA-2014-102673,OFF-LA-10001771,12.0,CA-2014-102673OFF-LA-10001771,NaN,NaN,NaN,NaN
84,CA-2014-103366,TEC-AC-10003628,5.0,CA-2014-103366TEC-AC-10003628,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
9389,US-2017-160836,OFF-AP-10001626,2.0,US-2017-160836OFF-AP-10001626,NaN,NaN,NaN,NaN
9402,US-2017-162558,FUR-FU-10002364,2.0,US-2017-162558FUR-FU-10002364,NaN,NaN,NaN,NaN
9419,US-2017-163657,OFF-BI-10000138,5.0,US-2017-163657OFF-BI-10000138,NaN,NaN,NaN,NaN
9426,US-2017-164056,FUR-TA-10001307,5.0,US-2017-164056FUR-TA-10001307,NaN,NaN,NaN,NaN
9434,US-2017-165456,FUR-CH-10003981,6.0,US-2017-165456FUR-CH-10003981,NaN,NaN,NaN,NaN

In [18]:
a1=present_data1_missing_data2.shape[0]

In [19]:
print(f"Records(OrderID+ProductID) present in data1 but missing in data2 = {a1}")

Records(OrderID+ProductID) present in data1 but missing in data2 = 506

# 2.
How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2 (Specify the number of records missing in your answer)

In [20]:
present_data2_missing_data1=new_data_rg[new_data_rg['Data1_Primary_key'].isna()]
present_data2_missing_data1

,Order ID_x,Product ID_x,Qty_x,Data1_Primary_key,Order ID_y,Product ID_y,Qty_y,Data2_Primary_key
9477,NaN,NaN,NaN,NaN,CA-2014-100706,TEC-AC-10001314,2.0,CA-2014-100706TEC-AC-10001314
9478,NaN,NaN,NaN,NaN,CA-2014-100762,OFF-PA-10001815,3.0,CA-2014-100762OFF-PA-10001815
9479,NaN,NaN,NaN,NaN,CA-2014-101427,OFF-AR-10002257,3.0,CA-2014-101427OFF-AR-10002257
9480,NaN,NaN,NaN,NaN,CA-2014-102652,FUR-FU-10001918,7.0,CA-2014-102652FUR-FU-10001918
9481,NaN,NaN,NaN,NaN,CA-2014-102869,OFF-PA-10000788,3.0,CA-2014-102869OFF-PA-10000788
...,...,...,...,...,...,...,...,...
9980,NaN,NaN,NaN,NaN,US-2017-165344,OFF-BI-10003196,10.0,US-2017-165344OFF-BI-10003196
9981,NaN,NaN,NaN,NaN,US-2017-165358,TEC-CO-10001943,5.0,US-2017-165358TEC-CO-10001943
9982,NaN,NaN,NaN,NaN,US-2017-167920,OFF-AP-10000159,5.0,US-2017-167920OFF-AP-10000159
9983,NaN,NaN,NaN,NaN,US-2017-169502,OFF-AP-10001947,5.0,US-2017-169502OFF-AP-10001947
9984,NaN,NaN,NaN,NaN,US-2017-169551,FUR-BO-10001519,3.0,US-2017-169551FUR-BO-10001519

In [21]:
a2=present_data2_missing_data1.shape[0]

In [22]:
print(f"Records(OrderID+ProductID) missing in data1 but present in data2 = {a2}")

Records(OrderID+ProductID) missing in data1 but present in data2 = 508

# 3.
Find the Sum of the total Qty of Records missing in data1 but present in data2

In [23]:
a3=int(present_data2_missing_data1['Qty_y'].sum())

In [24]:
print(f"Sum of the total Qty of Records missing in data1 but present in data2 = {a3}")

Sum of the total Qty of Records missing in data1 but present in data2 = 1956

# 4.
Find the total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2

In [25]:
a4=new_data_rg.shape[0]

In [26]:
print(f"The total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2 = {a4}")

The total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2 = 9985